body {
    background-color: #30c0df;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    background-color: #30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
    width: 90%; /* Make the canvas width responsive */
    height: auto; /* Maintain the aspect ratio of the canvas */
    max-width: 100%; /* Ensure the canvas doesn't exceed the screen width */
    max-height: 100%; /* Ensure the canvas doesn't exceed the screen height */
}

/* Adjust canvas size for smaller screens */
@media (max-width: 768px) {
    #canvas {
        width: 100%;
        height: 80%;
    }
}

@media (max-width: 480px) {
    #canvas {
        width: 100%;
        height: 60%;
    }
}
